$base-background-color: #ffffff;
$base-grey-border-color: #ececec;
$base-color: #ffffff;
$base-border-color: #f2f2f2;
$base-font-family: Arial;

$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

$padding-xlarge: 20px;
$padding-larger: 12px;
$padding-large: 10px;
$padding-medium: 6px;
$padding-small: 4px;
$padding-xsmall: 2px;
$padding-none: 0px;

$margin-xlarge: 20px;
$margin-large: 10px;
$margin-medium: 6px;
$margin-small: 4px;
$margin-xsmall: 2px;
$margin-none: 0px;

$radius-xlarge: 20px;
$radius-large: 10px;
$radius-medium: 6px;
$radius-small: 4px;
$radius-xsmall: 2px;
$radius-round: 25px;
$radius-none: 0px;


$colour-black: #000000;
$colour-grey: #808080;
$colour-lightgrey: #f0f0f0;

// $colour-hover: #e8e3e3;

// $colour-base: #ffffff;
// $colour-blue: #00afef;
// $colour-blue-dark: #00729c;
// $colour-blue-light: #c1dde8;
// $colour-black: #2c2c2c;
// $colour-danger: #ff0000;
// $colour-success: #0eb255;
// $colour-info: #2ca8ff;
// $colour-warning: #ff8a00;
// $colour-grey_2: gainsboro;
// $colour-primary-green: #00aba7;
// $colour-dark: #000000;

// $colour-bg-pending: #e6f7f6;
// $colour-draft: #6f6f6f;

// $colour-shadow-success: #dff0d8;
// $colour-shadow-danger: #f2dede;
// $colour-shadow-warning: #fcf8e3;
// $colour-shadow-info: #d9edf7;

// $colour-hover-blue: #00a8e2;
// $colour-hover-green: #00c6c0;
// $colour-label-doctor: #00729c;
// $colour-label-pharmacy: #009999;
// $colour-label-ach: #666699;
// $colour-label-admin: #808080;
// $colour-label-nurse: #d9980a;
// $colour-no-image: #c7ebed;
// $colour-menu-icon: #c8c8c8;