@import "../../../assets/scss/variables.scss";

#header-wrapper {
    padding: $padding-none $padding-large;
    min-height: 56px;

    #header-container {
        justify-content: flex-start;
        align-items: center;
        padding: $padding-none;
        gap: 10px;
        height: 56px;

        #logo-content {
            line-height: 24px;
            flex: 1 1 100%;
            max-width: 100%;
        }

        #user-fullname-content {
            line-height: 24px;
            font-size: $font-size-medium;
            text-align: left;
        }

        @media screen and (max-width: 959px) {
            #logo-content {
                text-align: center;
            }
            
            #user-fullname-content {
                display: none;
            }
        }
    }
}
