<mat-card id="requirement-wrapper">
    <mat-card-content id="requirement-content">
        <angular-editor [(ngModel)]="htmlContent" [config]="editorConfig">
        </angular-editor>
    </mat-card-content>

    <mat-card-actions id="requirement-footer" align="end">
        <button id="btn-suggest" mat-raised-button color="primary" (click)="onSuggest()">
            <mat-icon class="material-icons-round">manage_search</mat-icon>
            Suggest
        </button>
    </mat-card-actions>
</mat-card>

<mat-card id="suggestion-wrapper">{{response}}</mat-card>
